.divHeader
     {
       
        background-image:url(../images/bf123.png),url(../images/header.png);
      
        background-repeat: no-repeat;
        background-position: 0;
        background-size:cover;
        
    }
  /*  .divHeader
     {
        height: 750px;
        background-image: url(../images/headercone.png), url(../images/headerconeleftbottom.png),url(../images/headerconerightbottom.png),url(../images/headerconerightside.png),url(../images/NavBack.png),url(../images/funnel.png),url(../images/header.png) ;
        background-repeat: no-repeat;
        background-position: top left, bottom left,bottom right,top right,top left,right 500px bottom 200px,0;
        background-size: auto,auto,auto,auto,1220px 54px,auto,cover;
    }*/
  
.navbar {
        background-color: transparent;
        background: transparent;
        border: 0;
      }
  
    .navbar li { color: #000 }
    #headerDiv
    {
      margin: 0;
      padding-top: 270px;
      padding-left: 800px;
      width: 100%;
      height:auto;
      padding-bottom: 195px;
    }
    .btn-transparent {
    background: transparent;
    color: #F2F2F2;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    border: 1px solid black;
    border-top-left-radius:2em; 
    border-top-right-radius:2em;
    border-bottom-left-radius:2em; 
    border-bottom-right-radius:2em;
}
      .carousel-inner{
      width:100%;
      }

h1
{
    margin: 0px;
    padding: 0px;
}
h2 {
margin: 0 0 0px 0;
}
h3{
    margin: 0 0 0px 0;
}
.secondRow
{
    height: auto;
    background-image: url(../images/2rowbackground.png);
    background-repeat: no-repeat;
    background-position: 0;
    background-size:cover;
}
.divfooter
{
    height: auto;
    background-image: url(../images/footerbg.png);
    background-repeat: no-repeat;
    background-position: 0;
    background-size:cover;
    color: white;
    text-align: left
}
.divfooter a
{ 
    color: white;
    font-size:smaller;
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:black;
}
ul#Sponcers li
{
    display:inline;
}

ul#Sponcers li img
{
    filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
ul#Sponcers li img:hover
{
    filter: none;
  -webkit-filter: grayscale(0);
}
.img-Sponcers{
   
    height: 110px;
    display:inline;
    padding-right: 30px;
}
ul#startups li
{
    display:inline;
}

.img-startup
{
    display: inline;
    padding-right: 70px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
    padding:0px;
}
.panel-primary
{
    border-color: transparent;
}
.panel-body
{
    padding: 0px;
}
#container
{
width: 25%;
height:275px;
position: relative;
}
#container a
{
    color: white;
    text-align: right;
}
.mentorbg
{
 background:url(../images/img-overlay.png),url(../images/mentors.png) ;
 background-repeat:repeat,no-repeat;
 background-position: 0;
 position: absolute;    
}
.techFounderBg
{
 background:url(../images/img-overlay.png),url(../images/techfounder.png) ;
 background-repeat:repeat,no-repeat;
 background-position: 0;
 position: absolute;    
}
.Enterpreneussbg
{
     background:url(../images/img-overlay.png),url(../images/enterpreneuss.png) ;
 background-repeat:repeat,no-repeat;
 background-position: 0;
 position: absolute;  
}
.Startupsbg
{
    background:url(../images/img-overlay.png),url(../images/startups.png) ;
 background-repeat:repeat,no-repeat;
 background-position: 0;
 position: absolute;  
}
.Venturesbg
{
 background:url(../images/img-overlay.png),url(../images/ventures.png) ;
 background-repeat:repeat,no-repeat;
 background-position: 0;
 position: absolute;    
}
.Investorsbg
{
    background:url(../images/img-overlay.png),url(../images/investors.png) ;
 background-repeat:repeat,no-repeat;
 background-position: 0;
 position: absolute;
}
.Accelatorbg
{
     background:url(../images/img-overlay.png),url(../images/accelator.png) ;
 background-repeat:repeat,no-repeat;
 background-position: 0;
 position: absolute;
}
.Consultingbg
{
    background:url(../images/img-overlay.png),url(../images/counsulting.png) ;
 background-repeat:repeat,no-repeat;
 background-position: 0;
 position: absolute;
}
#bottom-right
{
right: 0;
bottom: 0;
position: absolute;
}
#bottom-right h3 a
{
    float:  right;
    color: white;
}
#bottom-right span
{
    
    color: white;
}
.captiontestimonial
{
    background: url(../images/bannerside.png);
    padding-left: 50px;
}
.col-xs-6
{
    padding-left: 0px;
    padding-right: 0px;
}
.table 
{
    margin-bottom: 0px ;
}
.panel
{
    margin-bottom: 0px ;
}
.row3
{
   
    
     height: auto;
     background-image:url(../images/row3bg1.png),url(../images/row3bg.png);
    background-repeat: no-repeat;
    background-position: 0,0;
        background-size:cover, cover;
}
.captionRow3
{
    height:auto; 
    background-repeat: no-repeat;
    background-position: 0;   
    background-size:cover;
    padding-left: 115px;
}
.captionRow2RightSide
{
   padding-top: 35px; 
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev
{
    top: 85%;
}
.left
{
    background: transparent;
}
.right
{
    background: transparent;
}
td a {
    display:block;
    width:100%;
    height: 100%;
}
.row
{
    margin-right: 0px;
}
/******************************/
#userSpeak > div {
	min-height: 625px;
}
.width-100-per {
	width: 100% !important;
}
.bg-sky-light {
	background-color: #68bcc7;
}
.min-height-300 {
	min-height: 300px;
}
.quotes-left {
	padding: 50px 0 100px 0;
}
.relative {
	position: relative;
}
.quote-text {
	position: absolute;
	top: 10px;
	right: 0;
	font-size: 100px;
	color: #69c3cb;
	font-weight: bold;
	letter-spacing: 30px;
    
}
.colour-white {
	color: #fff;
}
.font-38 {
	font-size:38px;
}
.bold {
	font-weight: 700;
}
.rotate-180 {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.round-me {
	border-radius: 50%;
}
.height-60-square {
	height: 60px;
	width: 60px;
}
.border-left-2 {
	border-left: 1px solid #E5E5E5;
}
.padding-left-20 {
	padding-left: 20px;
}
.margin-left-20 {
	margin-left: 20px;
}
.font-13 {
	font-size: 13px;
}
#quoteImage {
 background-image:url(../images/quote.jpg);
	background-size: cover;
	background-position: left bottom;
	background-repeat: no-repeat;
	min-height: 625px;
}

.border-bottom-2 {
	border-bottom: 1px solid #E6E6E6;
}
.width-70-per {
	width: 70% !important;
}
.margin-left-60 {
	margin-left: 60px;
}
.margin-top-alt-7 {
	margin-top: -7px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-50 {
	margin-top: 50px;
}
.margin-top-40 {
	margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-right-10 {
	margin-right: 10px;
}
.margin-left-10 {
	margin-left: 10px;
}
